.popup__close-button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  position: relative;
  right: -57px;
  top: -247px;
  background-image: url(../../../images/popup__close-button.svg);
  width: 45px;
  height: 45px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    right: -236px;
    top: -288px;
    background-image: url(../../../images/popup__close-button_mobile.svg);
    width: 35px;
    height: 35px;
  }
}