@import url(./__image/element__image.css);
@import url(./__name/element__name.css);
@import url(./__like/element__like.css);
@import url(./__info/element__info.css);
@import url(./__trash-bin/element__trash-bin.css);
@import url(./__picture/element__picture.css);

.element {
  border-radius: 10px;
  background: white;
  position: relative;
}